* {
    box-sizing: border-box;
}

.gshi-wrapper{
    overflow: hidden;
}

.my-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1190px;
}

.sgl-block {
    box-shadow: 0 7px 24px 0 rgba(0, 0, 0, .25);
    background: #fff;
    border-radius: 40px;
    padding: 45px 100px 49px;
}

.def-hdr {
    margin-bottom: 50px;
    line-height: 120%;
    display: block;
    margin: 0;
    color: #000;
    font-weight: 500;
    font-size: clamp(1.5rem, 1.294rem + 1.652vi, 3rem);
    line-height: 100%;
    font-family: Mont, sans-serif;
    margin-bottom: 35px;
}

.orange {
    color: #ff8b4a;
}


.sgl-block .sgl-itm {
    width: 100%;
    border-radius: 10px;
    position: relative;
    padding-top: 64px;
    padding-bottom: 24px;
    padding-left: 23px;
    padding-right: 23px;
}

.sgl-itm.orange {
    width: 100%;
}

.sgl-itm.orange::before {
    width: 188px;
    height: 218px;
    background: url(../../img/image.png) no-repeat;
    position: absolute;
    right: -10px;
    top: 45px;
    content: "";
}


.sgl-two {
    display: flex;
    justify-content: space-between;
}

.swiper-slide {
    height: auto;
}

.sgl-itm.orange {
    border: 2px solid #ff9503;
    background: linear-gradient(180deg, rgba(255, 112, 1, .1) 0, rgba(255, 196, 1, .1) 100%);
}

.orange .sgl-status {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 23px;
    color: #000;
    font-size: clamp(0.75rem, 0.695rem + 0.296vi, 1rem);
    line-height: 30px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    background: #fff;
    border-radius: 0 0 10px 10px;
    border: 2px solid #000;
    border-top: 0 solid #000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 1px;
    border-color: #ff9503;
}


.sgl-two .sgl-itm.orange .sgl-price {
    color: #ff9503;
    font-size: 20px;
    display: block;
    font-size: clamp(1rem, 0.708rem + 2.34vi, 3.125rem);
    line-height: 100%;
    font-weight: 600;
    font-family: Mont, sans-serif;
}



.orange .sql-price__data{
    font-size: clamp(1.875rem, 1.445rem + 3.441vi, 5rem);
    background: linear-gradient(90deg, rgba(255,149,3,1) 65%, rgba(252,192,109,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* .sgl-price > span:not(.sql-price__data):not(.sgl-single__data) {
    font-size: 16px;
    font-weight: normal;
    color: #666;
  } */



.sgl-single__data{
    margin-left: 20px;
    font-size: clamp(0.875rem, 0.823rem + 0.413vi, 1.25rem);
    font-weight: 400;
    color: #334662;
}

.sgl-single__data::after{
    content: "(8 занятий)";
    margin-left: 5px;
    color: #ff9503;
    
}

.sgl-block .sgl-two .sgl-itm .sgl-single {
    display: block;
    color: #334662;
    font-size: clamp(0.875rem, 0.841rem + 0.275vi, 1.125rem);
    line-height: 30px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    margin-bottom: 50px;
}

.sgl-block .sgl-two .sgl-itm.orange .sgl-single span {
    color: #ff9503;
    font-size: clamp(1rem, 0.923rem + 0.619vi, 1.563rem);
    font-weight: 700;
    font-family: Mont, sans-serif;
}


.sgl-block .sgl-two .sgl-itm .sgl-btn-wrap {
    text-align: start;
}

.g-btn.with-arrow.orange {
    color: #ff7024;
}

.gshi-wrapper .g-btn.with-arrow {
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 22px;
}

.g-btn {
    display: inline-block;
    cursor: pointer;
    position: relative;
    outline: 0;
    transition: all .5s ease;
    color: #ff8b4a;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    line-height: 100%;
    background: #fff;
    border: 0 solid #000;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .25);
    border-radius: 82px;
    padding: 16px 37px;
    text-decoration: none;
}

/* .g-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: #ff8b4a;
    border-radius: 50%;
} */



.g-btn:hover {
    color: #fff !important; 
    background-color: #ff8b4a;
}


.sgl-price-descr {
    display: block;
    background-color: #ff8b4a;
    width: 57%;
    height: 1.5px; 
    margin-top: 8px;   
    margin-bottom: 8px;   
}

@media only screen and (max-width: 1280px) {
    .gshi-wrapper .sgl-two .sgl-itm.orange::before {
        background-size: contain;
        width: 125px;
        height: 150px;
        background-repeat: no-repeat;
        top: 30%;
        right: 0;
    }
}
/* 
.gshi-wrapper .sgl-two .sgl-itm.orange::before {
    width: 178px;
    height: 211px;
    background: url(img_new/sgl_2.png);
    position: absolute;
    right: 0;
    top: 7px;
    content: "";
} */


@media(max-width: 850px){
    .sgl-block{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .sgl-block .sgl-two .sgl-itm .g-btn {
        font-size: 16px;
    }
}

@media only screen and (max-width: 720px) {
  .sgl-block .sgl-two .sgl-itm .g-btn {
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        text-align: center;
    }
}


@media(max-width: 500px){
    .s-good-learn>.my-container{
        padding: 0;
    }
    .sgl-block{
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media(max-width: 450px){
    .def-hdr{
        margin-left: 10px;
    }
    .sgl-block{
        padding-left: 5px;
        padding-right: 5px;
    }
    .sgl-single__data{
        display: block;
        margin-left: 0;
    }
}